.drp-down{
    position: fixed;
    z-index: 2;
    width: 20%;
    /* height: 10vh; */
    top:70px;
    text-overflow: ellipsis;
    background-color: #FFE7A0;
}.profile-drop-downs{
    padding-top: 5px;
    /* height: 30vh; */
    right:0;
    display: flex;
    flex-direction: column;
}.profile-drop-downs a{
    color:black;
    padding: 10px;
}.profile-drop-downs a:hover{
    background-color: #E76161;
    color:white !important;
}.profile-drop-downs i{
    margin-right: 13px;
}.profile{
    width:90%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}.profile img{
    border:1px solid blue;
    width: 40px;
    height: 40px;
    border-radius: 360px;
}.profile span{
    font-size: .7rem;
}.hide-profile {
    display: none;
}