.market-container{
    width: 100%;
    margin-top:220px;
}.dropdown-nav{
    position: fixed;
    top:140px;
    z-index: 1;
    left: 108px;
    display: flex;
    width: 84%;
    margin:10px 0px 10px 0px;
    justify-content: space-between;
    align-items: center;
}.dropdown-nav h1{
    font-size: 3rem;
    color: #FFCE38;
}.dropdown-nav h3{
    font-size: 3rem;
    color: #FFCE38;
}.dropdown-nav span , select{
    color:#E76161;
    font-size: 1.25rem;
}.dropdown-nav select{
    outline-color: #E76161;
    margin-left: 10px;
    padding: 5px;
    background-color: #F6BA6F;
    border:none;
}.market-list {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 45px;
   
}.shop-card{
    width: 250px;
    display: flex;
    flex-direction: column;
    background-color: #E08E6D;
}.image-product {
    width: 100%;
    height: 250px;
}
.image-product img {
    width: 100%;
    height: 100%;
}
.product-info{
    flex: 1;
    width: 100%;
    word-wrap: break-word;
    padding: 5px;
}.product-info > * {
    margin: 5px;
}.product-info h3:nth-child(1) {
    text-overflow: ellipsis;
    white-space:nowrap;
    overflow: hidden;
    width: 95%;
}.market-list a:hover h3{
    word-wrap: break-word;
    text-overflow:initial;
    white-space:normal;
    overflow:visible;
}.product-info p:nth-child(2) {
    font-size: 1.2rem;
}.product-info p:nth-child(3) {
    font-size: .8rem;
}.favorites{
    margin-left: 45%;
}.favorites button{
    font-size: 1rem;
}.ratings {
   font-size: .75rem;
}.ratings .checked{
    color:yellow;
}