@import url("button-dropdown.css");
* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
button{
    border:none;
    outline: none;
    background: none;
}a {
    text-decoration: none;
    color:white;
}
.nav {
    background-color: #E76161;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    top:0px;
    z-index: 1;
}.nav i {
    font-size: 20px;
}.nav button {
   color:white;
}.nav-left{
    width: 60vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.search-bar{
    background-color: #fff;
    border-radius: 40px;
    padding: 10px;
    width: 80%;
}.search-input > * {
    font-size: 1rem;
}
.search-input input {
    width: 90%;
    border:none;
    outline: none;
    padding-left:10px;
}.search-input {
    display: flex;
    align-items: center;
}.search-input input::placeholder {
    color:#E76161;
}.search-input button {
    padding-left: 5px;
    color:#E76161;
}a:hover , button:hover {
    cursor: pointer;
    color:black;
}.icons {
    margin-right: 90px;
    display: flex;
    justify-content: space-between;
    width: 225px;
}.category {
    width: 100%;
    top:70px;
    background-color: #F6BA6F;
    height: 70px;
    display: flex;
    align-items: center;
    justify-items: stretch;
    justify-content: center;
    position: fixed;
    z-index: 1;
    gap: 30px;
}.category span {
    font-weight: bold;
    text-transform: uppercase;
}.category a {
    padding: 15px 40px 15px 40px;
    border-radius: 5px;
}
.category a:hover {
    background-color: #E76161;
    color:#FEFF86;
}