@import url("nav-and-category.css");
.category{
    justify-content:flex-start !important;
}.category h1{
    padding-left: 30px;
    color: white;
}.cart-page{
    margin-top: 140px;
    height: calc(100vh - 140px);
    display: flex;
}.cart-page > div {
    background-color: #FFF8D4;;
}.cart-page > div:first-child {
    flex: 2;
}.cart-page > div:last-child {
    flex: 3;
}.cart-page span{
    height: 100%;
    border: 5px solid #F6BA6F;
}.cart-list {
    padding: 20px 20px 0px 20px;
    display: flex;
}.cart-list .cart-list-container {
    margin-left: 10%;
    flex:1;
    display: flex;
    flex-direction: column;
}.cart-list-container h3, .order-summary h1 {
    color:#E76161;
}hr{
    margin:20px 0px 20px 0px;
    border:2px solid #F6BA6F;
}.cart-list .cart-card-shop{
    flex:1;
    overflow-y: scroll;
}.cart-card-shop .cart-scroll{
    display: flex;
    gap:20px;
    flex-wrap: wrap;
}.cart-card-shop .cart-card{
    border-radius: 10px;
    width: 45%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    background-color: #F6BA6F;
}.cart-card .cart-image{
    width: 100%;
    height: 210px;
}
.cart-image img{
    height: 100%;
    width: 100%;
}.cart-card h3{
    width: 90%;
    overflow: hidden;
    text-overflow: ellipsis;
}.cart-card .cart-description {
    margin: 5px;
    flex: 1;
}.cart-description > *{
    margin-top: 6px;
}.cart-desc{
    padding: 20px;
    display: flex;
    flex-direction: column;
}
.order-summary{
    display: flex;
    flex-direction: column;
}.order-summary .desc-card{
    background-color: #F6BA6F;
    border-radius: 15px;
    /* height: 75%; */
    overflow-y: scroll;
}.desc-card table{
    width: 100%;
}
.desc-card td:nth-child(1){
    width: 80%;
    font-weight: bold;
}.desc-card td:nth-child(2){
    font-weight: bold;
}
.desc-card td button{
    border-radius: 50%;
    background-color: #E76161;
    width: 30px;
    height: 30px;
}.cart-checkout{
    position: relative;
    height: 22%;
}.cart-checkout table{ 
    right:0;
    width: 50%;
    position: absolute;
}.desc-card table, .desc-card tr, .desc-card td{
    padding: 10px;
    color:white;
}.cart-checkout table, .cart-checkouttr, .cart-checkout td{
    padding: 0px 10px 10px 10px;
    font-weight: bold;
    color:#E76161;
}.cart-checkout td:nth-child(1){
    width: 100%;
}.cart-buttons{
    position: absolute;
    right: 0;
    width: 80%;
    display: flex;
    bottom: 0;
}.cart-buttons > button{
    border-radius: 15px;
    margin: 10px;
    padding: 10px;
    width: 50%;
    color:white;
}.cart-buttons  button:last-child{
    background-color: #E76161;
}.cart-buttons  button:first-child{
    background-color: #F6BA6F;
}