body{
    overflow: hidden;
}
.cat-category{
    margin-top: 190px;
    width: 100%;
    height: calc(100vh - 190px);
}.cat-category h1{
    text-align: center;
    color: #E76161;
    font-size: 3rem;
    margin-bottom: 50px;
}
.cat-select{
    margin: auto;
    width:70%;
    /* height: 39vh; */
    display: grid;
    justify-content: center;
    grid-template-columns: 200px 200px 200px 200px;
    grid-template-rows: 150px 150px 150px 150px;
    gap:40px;
 
}.cat-card:hover {
    box-shadow: 0px 0px 20px 5px white;
    border:1px solid white;
}.cat-select a:hover{
    color:#FEFF86;
}
.cat-card{
    transition: .2s;
    border-radius: 20px;
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
}.cat-card img{
    width: 100%;
    opacity: .7;
}.cat-card h2{
    font-size: 1.2rem;
    text-transform: capitalize;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
}