
* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
button{
    border:none;
    outline: none;
    background: none;
}a {
    text-decoration: none;
    color:white;
}
.nav {
    background-color: #E76161;
    height: 70px;
    display: flex;
    align-items: center;
    position: fixed;
    width: 100%;
    top:0px;
    z-index: 1;
}.nav i {
    font-size: 20px;
}.nav button {
   color:white;
}.nav-left{
    width: 60vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.search-bar{
    background-color: #fff;
    border-radius: 40px;
    padding: 10px;
    width: 80%;
}.search-input > * {
    font-size: 1rem;
}
.search-input input {
    width: 90%;
    border:none;
    outline: none;
    padding-left:10px;
}.search-input button {
    padding-left: 5px;
    color:#E76161;
}a:hover , button:hover {
    cursor: pointer;
    color:black;
}.icons {
    display: flex;
    justify-content: space-between;
    width: 130px;
    transform: translateX(250px);
}.category {
    width: 100%;
    top:70px;
    background-color: #F6BA6F;
    height: 70px;
    display: flex;
    align-items: center;
    justify-items: stretch;
    justify-content: space-evenly;
    position: fixed;
    z-index: 1;
}.category span {
    font-weight: bold;
    text-transform: uppercase;
}.category a {
    padding: 15px 40px 15px 40px;
    border-radius: 5px;
}.category span:nth-child(1) a{
    background-color: #E76161;
    color:#FEFF86;
}
.category a:hover {
    background-color: #E76161;
    color:#FEFF86;
}
.background-women {
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    background: url("../women-background.png");
    filter: blur(10px);
    background-size: 100% 100%;
    top:0;
    z-index: -1;
    position: fixed;
}.market-container{
    width: 100%;
    height: 84vh;
    position: absolute;
    left: 50%;
    top:70%;
    transform: translate(-50%, -50%);
}.dropdown-nav{
    position: fixed;
    top:150px;
    z-index: 1;
    left: 70px;
    display: flex;
    width: 90%;
    margin: auto;
    justify-content: space-between;
    align-items: center;
}.dropdown-nav h1{
    font-size: 3rem;
    color: #FFCE38;
}.dropdown-nav h3{
    font-size: 3rem;
    color: #FFCE38;
}.dropdown-nav span , select{
    font-size: 1.25rem;
}.dropdown-nav select{
    margin-left: 10px;
    padding: 5px;
    background-color: #F6BA6F;
}.dropdown-nav select option{
    border-bottom: 1px solid black;
}.market-list {
    width: 90%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 45px;
   
}.shop-card{
    width: 250px;
    display: flex;
    flex-direction: column;
    background-color: #E08E6D;
}.image-product {
    width: 100%;
    height: 250px;
}
.image-product img {
    width: 100%;
    height: 100%;
}
.product-info{
    flex: 1;
    width: 100%;
    word-wrap: break-word;
    padding: 5px;
}.product-info > * {
    margin: 5px;
}.product-info h3:nth-child(1) {
    text-overflow: ellipsis;
    white-space:nowrap;
    overflow: hidden;
    width: 95%;
 }.market-list a:hover h3{
    word-wrap: break-word;
    text-overflow:initial;
    white-space:normal;
    overflow:visible;
 }.product-info p:nth-child(2) {
    font-size: 1.2rem;
 }.product-info p:nth-child(3) {
    font-size: .8rem;
 }
table{
    width: 100%;
}
table, tr, td {
    border:1px solid rgb(27, 17, 17);
}.favorites{
    margin-left: 45%;
}.favorites button{
    font-size: 1rem;
}.ratings {
   font-size: .75rem;
}.ratings .checked{
    color:yellow;
}