* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
nav {
    width: 100%;
    height: 8vh;
    background-color: #E76161;
}.container-page{
    width: 100%;
    height: 90vh;
    border:1px solid black;
    display: flex;
    padding: 0px 30px 0px 30px;
}.child-container{
    border:1px solid black;
}