@import url("nav-and-category.css");
@import url("market.css");
.background-men {
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    background: url("../men-background.png");
    filter: blur(10px);
    background-size: 100% 100%;
    top:0;
    z-index: -1;
    position: fixed;
}.category span:nth-child(2) a{
    background-color: #E76161;
    color:#FEFF86;
}